{% extends "@app_admin/layout.twig" %}

{% block content %}

<h1>Projects</h1>

<p>
	<a href="{{ base_url }}/projects/add/">[Add project]</a>
</p>

<table class="web_table">

<tr>
	<th></th>
	<th>Type</th>
	<th>Name</th>
	<th></th>
</tr>

{% for project in projects %}
<tr>
	<td>{{ loop.index }}</td>
	<td>{{ project.name }}</td>
	<td>{{ project.type == "hg" ? "Mercurial" : (
		project.type == "git" ? "Git" : ""
	) }}</td>
	<td>
		<a href="{{ url_get_add(
				url('site:project:settings'),
				{ 'type': project.type, 'name': project.name }
			) }}">
			[Settings]
		</a>
	</td>
</tr>
{% endfor %}

{% endblock %}