{% extends "@app/layout.twig" %}

{% block content %}
<p>Links:</p>
<ul>
	<li><a href="{{ base_url }}/">Main</a>
	<li><a href="{{ base_url }}/git/">Git</a>
	<li><a href="{{ base_url }}/hg/">Mercurial</a>
	<li><a href="{{ base_url }}/add/">Add project</a>
	<li><a href="{{ base_url }}/settings/">Settings</a>
</ul>
{% endblock %}