{% extends "@app/layout.twig" %}

{% block content %}

<h1>Projects</h1>

{% if auth.isAdmin() %}
<p>
	<a href="{{ base_url }}/add/">[Add project]</a>
</p>
{% endif %}

<table class="web_table">

<tr>
	<th></th>
	<th>Type</th>
	<th>Name</th>
	<th></th>
</tr>

{% for project in projects %}
<tr>
	<td>{{ loop.index }}</td>
	<td>{{ project.type }}</td>
	<td>{{ project.name }}</td>
	<td>
		<a href="{{ base_url }}/{{project.type}}/{{ project.name }}">
			[Open]
		</a>
		{% if auth.isAdmin() %}
		<a href="{{ url_get_add(
				url('site:project:settings'),
				{ 'type': project.type, 'name': project.name }
			) }}">
			[Settings]
		</a>
		{% endif %}
	</td>
</tr>
{% endfor %}

{% endblock %}