{% extends "@app/layout.twig" %}

{% block content %}

<script src="{{ base_url }}/static/vue.global.prod.js"></script>


<h1>Settings {{ project_type }}/{{ project_name }}</h1>

<style>
.web_form__left, .web_form__right{
	display: inline-block;
	vertical-align: top;
}
.web_form__left{
	width: 350px;
}
.web_form__right{
	padding-left: 50px;
}
</style>

{% if not is_admin %}

You have no permission

{% else %}

{% verbatim %}
<div id="app">
	
	<form class="web_form" method="POST" enctype="multipart/form-data">
		
		<div class="web_form__left">
			<div class="web_form__row">
				<div class="web_form__label">Username</div>
				<div class="web_group web_group--button_right">
					<select class="web_form__input" v-model="user_name">
						<option :value="">Select value</option>
						<option v-for="user in users_list"
							:key="user"
							:value="user">{{ user }}</option>
					</select>
					<button type="button" class="button button--small" @click="onAdd">Add</button>
				</div>
				<div class="web_form__description">Type username or @groupname</div>
				<div class="web_form__field_error">{{ user_name_error }}</div>
			</div>
			
			<div class="web_form__row">
				
				<h2>Users list</h2>
				
				<div class="web_list">
					<div class="web_list__item" v-for="user, index in users">
						<div class="web_group">
							<input
								class="input web_group__item web_group__item--full_width disable_border--right"
								v-bind:name="'users[' + index + '][name]'"
								v-bind:value="user.name"
							/>
							<select class="web_group__item select disable_border--right" 
								v-bind:name="'users[' + index + '][value]'"
							>
								<option value="1"
									v-bind:selected="user.value == 1"
								>
									Read
								</option>
								<option value="2"
									v-bind:selected="user.value == 2"
								>
									Write
								</option>
							</select>
							<button type="button" class="web_group__item button button--small"
								@click="onDelete(index)">Delete</button>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="web_form__buttons">
				<button type="submit" class="button">Save</button>
			</div>
			
			<div class="web_form__error">
				{{ form_error }}
			</div>
			
		</div>
		
		<div class="web_form__right">
			<div class="web_form__row">
				<div class="web_form__label">Rename project name</div>
				<input class="web_form__input"
					v-model="project_rename_name" name="project_rename_name" />
				<div class="web_form__field_error">{{ project_rename_error }}</div>
			</div>
		</div>
		
	</form>
	
</div>
{% endverbatim %}

<script>
const { createApp } = Vue

createApp({
	data() {
		return {
			form: {{ json_encode(form) | raw }},
			user_name: "",
			user_name_error: "",
			users_list: {{ json_encode(users_list) | raw }},
			project_rename_name: {{ json_encode(project_rename_name) | raw }},
			project_rename_error: {{ json_encode(project_rename_error) | raw }},
			users: {{ json_encode(users) | raw }},
		}
	},
	methods: {
		
		onAdd() {
			let user_name = this.user_name;
			this.user_name_error = "";
			
			if (this.user_name == "") return;
			
			var index = this.users.find(
				(el) => { return el.name == user_name; }
			);
			if (index == -1) return;
			
			this.users.push({
				"name": user_name,
				"value": 1,
			});
		},
		
		onDelete(index) {
			this.users.splice(index, 1);
		},
		
	},
}).mount('#app')
</script>

{% endif %}

{% endblock %}